body{
    margin-left: 0%;
    margin-right: 0%;
    font-family: sans-serif;
}

#intro-section{
    background-image: url("https://www.blockchain.com/static/img/home/home-hero-gradient.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 650px;
}

#centralDiv{
    width: 62.5rem;
    padding-top: 200px;
    padding-right: 14rem;
    text-align: left;
}

#intro-section h1{
    color: white;
    font-weight: 600;
    font-size: 300%;
}

#intro-section h3{
    color:white;
    font-size: 150%;
    font-weight: 500;
}
