nav{
  background-color: rgb(18, 29, 51);
  border-bottom: solid rgba(160,165,173,0.3);
  border-bottom-width: thin;
  min-height: 5rem;
  letter-spacing: 0.02rem;
}

nav>.container-fluid{
  max-width: 80rem;
}

#com{
  color: rgb(160,165,173)
}

#logo{
  font-size: 1.5rem;
  font-weight: 800;
  color: white;
}

.nav-link{
  color: rgb(204, 210, 222) !important;
  font-weight: 550 !important;
  margin-left: 1.5rem;
}

.dropdown .nav-link{
  font-weight: 700 !important;
}

nav .dropdown-menu a{
  color: black !important;
}

nav button{
  font-size: 0.9rem !important;
  line-height: 1.8rem !important;
  border-width: 0.18rem !important;
}

#searchBtn{
  border-radius: 1.5rem;
  background-color: rgba(160,165,173,0.2);
  border: none;
}

@media screen and (max-width: 1092px) {
  .nav-link{
    margin-left: 1rem;
  }

  #logo{
    margin-right: 0;
  }
}
